.vehicles ul {
    overflow: auto;
}

.vehicles h2 {
    display: flex;
    justify-content: center;
    border: none;
    padding: 15px;
}

.vehicles {
    display: block;
    margin-left: 30px;
    margin-right: 40px;
    background-color: white;
    line-height: .4;
    padding-top: 10px;
    padding-bottom: 25px;
}

.vehicle-listing {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(3, 1fr);
}

.vehicle-listing {
    display: flex;
    margin-left: 30px;
    margin-right: 40px;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    line-height: .4;
}

img {
    width: 300px;
}