<section>
    <h2> Vehicles</h2>
    <ul>
        <li>
            <div class="vehicle-listing">
                <img class="vehicle-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHQh96n6xOf8aBX1UpfateV-6aZAu77jgk7Q&usqp=CAU" alt="Mustang#" />
                <div class="details">
                    <p class="make">Make:Ford</p>
                    <p class="model">Model: Mustang</p>
                    <p class="year">Year: 2022</p>
                    <p class="conditon">Condition: Good</p>
                    <p class="term">Remaining Term: 12 months</p>
                    <p class="monthly">Monthly Payment: $650.34</p>
                    <p class="mileage">Mileage: 30,000</p>
                    <p class="location">Location: Scottsdale, AZ 85054</p>
                </div>
            </div>
        </li>
        <li>
            <div class="vehicle-listing">
                <img class="vehicle-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHQh96n6xOf8aBX1UpfateV-6aZAu77jgk7Q&usqp=CAU" alt="Mustang#" />
                <div class="details">
                    <p class="make">Make:Ford</p>
                    <p class="model">Model: Mustang</p>
                    <p class="year">Year: 2022</p>
                    <p class="conditon">Condition: Good</p>
                    <p class="term">Remaining Term: 12 months</p>
                    <p class="monthly">Monthly Payment: $650.34</p>
                    <p class="mileage">Mileage: 30,000</p>
                    <p class="location">Location: Scottsdale, AZ 85054</p>
                </div>
            </div>
        </li>
        <li>
            <div class="vehicle-listing">
                <img class="vehicle-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHQh96n6xOf8aBX1UpfateV-6aZAu77jgk7Q&usqp=CAU" alt="Mustang#" />
                <div class="details">
                    <p class="make">Make:Ford</p>
                    <p class="model">Model: Mustang</p>
                    <p class="year">Year: 2022</p>
                    <p class="conditon">Condition: Good</p>
                    <p class="term">Remaining Term: 12 months</p>
                    <p class="monthly">Monthly Payment: $650.34</p>
                    <p class="mileage">Mileage: 30,000</p>
                    <p class="location">Location: Scottsdale, AZ 85054</p>
                </div>
            </div>
        </li>
        <li>
            <div class="vehicle-listing">
                <img class="vehicle-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHQh96n6xOf8aBX1UpfateV-6aZAu77jgk7Q&usqp=CAU" alt="Mustang#" />
                <div class="details">
                    <p class="make">Make:Ford</p>
                    <p class="model">Model: Mustang</p>
                    <p class="year">Year: 2022</p>
                    <p class="conditon">Condition: Good</p>
                    <p class="term">Remaining Term: 12 months</p>
                    <p class="monthly">Monthly Payment: $650.34</p>
                    <p class="mileage">Mileage: 30,000</p>
                    <p class="location">Location: Scottsdale, AZ 85054</p>
                </div>
            </div>
        </li>
        <li>
            <div class="vehicle-listing">
                <img class="vehicle-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHQh96n6xOf8aBX1UpfateV-6aZAu77jgk7Q&usqp=CAU" alt="Mustang#" />
                <div class="details">
                    <p class="make">Make:Ford</p>
                    <p class="model">Model: Mustang</p>
                    <p class="year">Year: 2022</p>
                    <p class="conditon">Condition: Good</p>
                    <p class="term">Remaining Term: 12 months</p>
                    <p class="monthly">Monthly Payment: $650.34</p>
                    <p class="mileage">Mileage: 30,000</p>
                    <p class="location">Location: Scottsdale, AZ 85054</p>
                </div>
            </div>
        </li>
        <li>
            <div class="vehicle-listing">
                <img class="vehicle-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHQh96n6xOf8aBX1UpfateV-6aZAu77jgk7Q&usqp=CAU" alt="Mustang#" />
                <div class="details">
                    <p class="make">Make:Ford</p>
                    <p class="model">Model: Mustang</p>
                    <p class="year">Year: 2022</p>
                    <p class="conditon">Condition: Good</p>
                    <p class="term">Remaining Term: 12 months</p>
                    <p class="monthly">Monthly Payment: $650.34</p>
                    <p class="mileage">Mileage: 30,000</p>
                    <p class="location">Location: Scottsdale, AZ 85054</p>
                </div>
            </div>
        </li>
        <li>
            <div class="vehicle-listing">
                <img class="vehicle-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHQh96n6xOf8aBX1UpfateV-6aZAu77jgk7Q&usqp=CAU" alt="Mustang#" />
                <div class="details">
                    <p class="make">Make:Ford</p>
                    <p class="model">Model: Mustang</p>
                    <p class="year">Year: 2022</p>
                    <p class="conditon">Condition: Good</p>
                    <p class="term">Remaining Term: 12 months</p>
                    <p class="monthly">Monthly Payment: $650.34</p>
                    <p class="mileage">Mileage: 30,000</p>
                    <p class="location">Location: Scottsdale, AZ 85054</p>
                </div>
            </div>
        </li>
        <li>
            <div class="vehicle-listing">
                <img class="vehicle-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHQh96n6xOf8aBX1UpfateV-6aZAu77jgk7Q&usqp=CAU" alt="Mustang#" />
                <div class="details">
                    <p class="make">Make:Ford</p>
                    <p class="model">Model: Mustang</p>
                    <p class="year">Year: 2022</p>
                    <p class="conditon">Condition: Good</p>
                    <p class="term">Remaining Term: 12 months</p>
                    <p class="monthly">Monthly Payment: $650.34</p>
                    <p class="mileage">Mileage: 30,000</p>
                    <p class="location">Location: Scottsdale, AZ 85054</p>
                </div>
            </div>
        </li>
        <li>
            <div class="vehicle-listing">
                <img class="vehicle-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHQh96n6xOf8aBX1UpfateV-6aZAu77jgk7Q&usqp=CAU" alt="Mustang#" />
                <div class="details">
                    <p class="make">Make:Ford</p>
                    <p class="model">Model: Mustang</p>
                    <p class="year">Year: 2022</p>
                    <p class="conditon">Condition: Good</p>
                    <p class="term">Remaining Term: 12 months</p>
                    <p class="monthly">Monthly Payment: $650.34</p>
                    <p class="mileage">Mileage: 30,000</p>
                    <p class="location">Location: Scottsdale, AZ 85054</p>
                </div>
            </div>
        </li>
        <li>
            <div class="vehicle-listing">
                <img class="vehicle-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHQh96n6xOf8aBX1UpfateV-6aZAu77jgk7Q&usqp=CAU" alt="Mustang#" />
                <div class="details">
                    <p class="make">Make:Ford</p>
                    <p class="model">Model: Mustang</p>
                    <p class="year">Year: 2022</p>
                    <p class="conditon">Condition: Good</p>
                    <p class="term">Remaining Term: 12 months</p>
                    <p class="monthly">Monthly Payment: $650.34</p>
                    <p class="mileage">Mileage: 30,000</p>
                    <p class="location">Location: Scottsdale, AZ 85054</p>
                </div>
            </div>
        </li>
        <li>
            <div class="vehicle-listing">
                <img class="vehicle-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHQh96n6xOf8aBX1UpfateV-6aZAu77jgk7Q&usqp=CAU" alt="Mustang#" />
                <div class="details">
                    <p class="make">Make:Ford</p>
                    <p class="model">Model: Mustang</p>
                    <p class="year">Year: 2022</p>
                    <p class="conditon">Condition: Good</p>
                    <p class="term">Remaining Term: 12 months</p>
                    <p class="monthly">Monthly Payment: $650.34</p>
                    <p class="mileage">Mileage: 30,000</p>
                    <p class="location">Location: Scottsdale, AZ 85054</p>
                </div>
            </div>
        </li>
        <li>
            <div class="vehicle-listing">
                <img class="vehicle-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHQh96n6xOf8aBX1UpfateV-6aZAu77jgk7Q&usqp=CAU" alt="Mustang#" />
                <div class="details">
                    <p class="make">Make:Ford</p>
                    <p class="model">Model: Mustang</p>
                    <p class="year">Year: 2022</p>
                    <p class="conditon">Condition: Good</p>
                    <p class="term">Remaining Term: 12 months</p>
                    <p class="monthly">Monthly Payment: $650.34</p>
                    <p class="mileage">Mileage: 30,000</p>
                    <p class="location">Location: Scottsdale, AZ 85054</p>
                </div>
            </div>
        </li>
        <li>
            <div class="vehicle-listing">
                <img class="vehicle-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHQh96n6xOf8aBX1UpfateV-6aZAu77jgk7Q&usqp=CAU" alt="Mustang#" />
                <div class="details">
                    <p class="make">Make:Ford</p>
                    <p class="model">Model: Mustang</p>
                    <p class="year">Year: 2022</p>
                    <p class="conditon">Condition: Good</p>
                    <p class="term">Remaining Term: 12 months</p>
                    <p class="monthly">Monthly Payment: $650.34</p>
                    <p class="mileage">Mileage: 30,000</p>
                    <p class="location">Location: Scottsdale, AZ 85054</p>
                </div>
            </div>
        </li>
        <li>
            <div class="vehicle-listing">
                <img class="vehicle-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHQh96n6xOf8aBX1UpfateV-6aZAu77jgk7Q&usqp=CAU" alt="Mustang#" />
                <div class="details">
                    <p class="make">Make:Ford</p>
                    <p class="model">Model: Mustang</p>
                    <p class="year">Year: 2022</p>
                    <p class="conditon">Condition: Good</p>
                    <p class="term">Remaining Term: 12 months</p>
                    <p class="monthly">Monthly Payment: $650.34</p>
                    <p class="mileage">Mileage: 30,000</p>
                    <p class="location">Location: Scottsdale, AZ 85054</p>
                </div>
            </div>
        </li>
        <li>
            <div class="vehicle-listing">
                <img class="vehicle-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHQh96n6xOf8aBX1UpfateV-6aZAu77jgk7Q&usqp=CAU" alt="Mustang#" />
                <div class="details">
                    <p class="make">Make:Ford</p>
                    <p class="model">Model: Mustang</p>
                    <p class="year">Year: 2022</p>
                    <p class="conditon">Condition: Good</p>
                    <p class="term">Remaining Term: 12 months</p>
                    <p class="monthly">Monthly Payment: $650.34</p>
                    <p class="mileage">Mileage: 30,000</p>
                    <p class="location">Location: Scottsdale, AZ 85054</p>
                </div>
            </div>
        </li>
        <li>
            <div class="vehicle-listing">
                <img class="vehicle-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHQh96n6xOf8aBX1UpfateV-6aZAu77jgk7Q&usqp=CAU" alt="Mustang#" />
                <div class="details">
                    <p class="make">Make:Ford</p>
                    <p class="model">Model: Mustang</p>
                    <p class="year">Year: 2022</p>
                    <p class="conditon">Condition: Good</p>
                    <p class="term">Remaining Term: 12 months</p>
                    <p class="monthly">Monthly Payment: $650.34</p>
                    <p class="mileage">Mileage: 30,000</p>
                    <p class="location">Location: Scottsdale, AZ 85054</p>
                </div>
            </div>
        </li>
        <li>
            <div class="vehicle-listing">
                <img class="vehicle-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHQh96n6xOf8aBX1UpfateV-6aZAu77jgk7Q&usqp=CAU" alt="Mustang#" />
                <div class="details">
                    <p class="make">Make:Ford</p>
                    <p class="model">Model: Mustang</p>
                    <p class="year">Year: 2022</p>
                    <p class="conditon">Condition: Good</p>
                    <p class="term">Remaining Term: 12 months</p>
                    <p class="monthly">Monthly Payment: $650.34</p>
                    <p class="mileage">Mileage: 30,000</p>
                    <p class="location">Location: Scottsdale, AZ 85054</p>
                </div>
            </div>
        </li>
    </ul>





</section>