<div class="listing-page">
    <form #vehicleForm="ngForm" class="list-vehicle" (ngSubmit)="addVehicle(vehicleForm.value)">
        <label for="image-url">Image</label>
        <input type="url" name="imageUrl" id="imageUrl" ngModel />

        <label for="make">Make</label>
        <input type="text" name="make" id="make" ngModel />

        <label for="model">Model</label>
        <input type="text" name="model" id="model" ngModel />

        <label for="year">Year</label>
        <input type="text" name="year" id="year" ngModel />

        <label for="condition">Condition</label>
        <input type="text" name="condition" id="condition" ngModel />

        <label for="term">Remaining Term</label>
        <input type="text" name="term" id="term" ngModel />

        <label for="monthly">Monthly Payment</label>
        <input type="text" name="monthly" id="monthly" ngModel />

        <label for="mileage">Mileage</label>
        <input type="text" name="mileage" id="mileage" ngModel />

        <label for="location">Location</label>
        <input type="text" name="location" id="location" ngModel />

        <input type="submit" value="List your Vehicle">
    </form>

    <div id="divWeatherMain">
        <div *ngIf="WeatherData.isDay" class="weatherWidgetRow">
            <i class="fas fa-3x fa-sun sun"></i>
        </div>
        <div *ngIf="!WeatherData.isDay" class="weatherWidgetRow">
            <i class="fas fa-3x fa-moon moon"></i>
        </div>
        <div class="weatherWidgetRow cloudDiv">
            <i class="fas fa-cloud fa-3x cloud"></i>
        </div>
        <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">{{WeatherData.temp}}°</div>
        <div class="weatherWidgetRow" style="font-size: 12px;">{{WeatherData.temp_min}}° / {{WeatherData.temp_max}}°</div>
        <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like: {{WeatherData.temp_feels_like}}°</div>
        <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">{{WeatherData.name}}</div>
        <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: {{WeatherData.main.humidity}}%</div>
    </div>
</div>