form {
    margin-top: 50px;
    margin-right: 20px;
}

input {
    box-sizing: border-box;
}

input,
label {
    display: block;
    width: 100%;
}

label {
    color: hsl(0, 0%, 40%);
    margin-bottom: 10px;
    font-size: 12px;
}

input {
    margin-bottom: 16px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid hsl(0, 0%, 80%);
    padding: 12px;
}

.list-vehicle {
    margin-left: 48px;
    width: 300px;
    line-height: 3px;
}

[type=submit] {
    background-color: hsl(240, 76%, 23%);
    border: none;
    box-shadow: 0 2px 2px hsl(240, 10%, 23%);
    color: white;
}

.listing-page {
    display: flex;
    justify-content: space-between;
}

@media (max-width:900) {
    .listing-page {
        display: block;
        flex-direction: column;
    }
}

#divWeatherMain {
    display: block;
    border-radius: 10px;
    width: 200px;
    height: 220px;
    background: hsl(240, 76%, 23%);
    background: linear-gradient(180deg, hsl(240, 55%, 49%) 0%, hsl(240, 44%, 40%) 75%, hsl(240, 76%, 23%) 100%);
    color: white;
    ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.weatherWidgetRow {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

.sun {
    margin-top: 10px;
    color: yellow;
    filter: drop-shadow( 1px 1px 10px yellow);
}

.moon {
    margin-top: 10px;
    color: white;
    filter: drop-shadow( 1px 1px 10px white);
}

.cloudDiv {
    margin-top: -40px;
}

.cloud {
    color: rgb(104, 175, 197);
    filter: drop-shadow( 1px 1px 5px rgb(104, 175, 197));
    animation-name: cloudMovement;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes cloudMovement {
    from {
        margin-left: -55px;
    }
    to {
        margin-left: 65px;
    }
}