<form #vehicleForm="ngForm" class="list-vehicle" (ngSubmit)="addVehicle(vehicleForm.value)">
    <label for="image-url">Image</label>
    <input type="url" name="imageUrl" id="imageUrl" ngModel />

    <label for="make">Make</label>
    <input type="text" name="make" id="make" ngModel/>

    <label for="model">Model</label>
    <input type="text" name="model" id="model" ngModel/>

    <label for="year">Year</label>
    <input type="text" name="year" id="year" ngModel />

    <label for="condition">Condition</label>
    <input type="text" name="condition" id="condition" ngModel />

    <label for="term">Remaining Term</label>
    <input type="text" name="term" id="term" ngModel />

    <label for="monthly">Monthly Payment</label>
    <input type="text" name="monthly" id="monthly" ngModel/>

    <label for="mileage">Mileage</label>
    <input type="text" name="mileage" id="mileage" ngModel />

    <label for="location">Location</label>
    <input type="text" name="location" id="location" ngModel/>

    <input type="submit" value="List your Vehicle">
</form>