<h1>EasyXfer</h1>
<h2 class="logo"></h2>
<header>
    <nav>
        <ul>
            <li><a href="home">Home</a> </li>
            <li><a href="vehicles">Vehicles</a> </li>
            <li><a href="Contact Us">Contact us</a></li>
        </ul>
    </nav>
</header>

<main>
    <h2>Welcome to EasyXfer!</h2>
    <article>
        <p> We strive to make transfering your vehicle as simple and easy as possible. If you are looking for a vehicle, please click <span><a href="vehicles">here</a></span>.
            <br> If you are interested in listing your vehicle please click
            <span><a href="listings">here</a></span>.
    </article>
</main>

<router-outlet></router-outlet>