@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
body {
    color: #e6e6e6;
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin: 0;
    background-color: grey;
}

img {
    width: 300px;
}

h1 {
    background-color: rgb(14, 14, 103);
    margin: 0;
    padding-left: 30px;
}

ul {
    margin: 15px;
    padding-left: 18px;
    display: flex;
}

li a {
    display: flex;
    color: #e6e6e6;
    text-decoration: none;
    list-style: none;
    flex-direction: row;
    border-color: #e6e6e6;
    border: solid 3px;
    width: 100px;
    justify-content: center;
}

li a:hover {
    background-color: #e6e6e6;
    color: rgb(14, 14, 103);
    border: solid 3px;
    border-color: black;
}

span a {
    color: #e6e6e6;
    font-weight: 900;
}

span a:hover {
    color: black;
}

li+li {
    margin-left: 30px;
}

ul li {
    display: flex;
}

header li {
    display: flex;
    list-style: none;
    flex-direction: row;
}

nav {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.vehicles h2 {
    display: flex;
    justify-content: center;
    border: none;
    border: solid 3px;
    padding: 15px;
}

.vehicles {
    margin-left: 30px;
    margin-right: 40px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(14, 14, 103);
    display: flex;
}

.vehicle-listing {
    display: flex;
    flex-direction: column;
}

article {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    margin-bottom: 20px;
}

main h2 {
    justify-content: center;
    border: solid 3px;
    padding: 15px;
}

main {
    display: flex;
    border: black solid 3px;
    margin-left: 30px;
    margin-right: 40px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(14, 14, 103);
}

@media (max-width:800px) {
    .grid-container {
        display: flex;
        flex-direction: column;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, lfr);
    grid-column-gap: 40px;
    line-height: 2;
}

.grid-item-1 {
    grid-column: 1;
    padding-left: 30px;
    border: 2px solid grey;
}

.grid-item-2 {
    grid-column: 2;
    padding-left: 30px;
    border: 2px solid grey;
    border: 2px solid grey;
}

h3 {
    border: solid 3px;
    width: 220px;
    padding-left: 5px;
}

@media (max-width:800px) {
    .main {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:800px) {
    .grid-container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:800px) {
    .grid-item-1 {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:800px) {
    .gri {
        display: flex;
        flex-direction: column;
    }
}