.vehicle-image {
    width: 300px;
}

.request {
    width: 100%;
    background-color: hsl(240, 76%, 23%);
    border: none;
    box-shadow: 0 2px 2px hsl(240, 10%, 23%);
    color: white;
    margin-top: 2px;
}

.id {
    display: none;
}