<main>

    <article class="hero">
        <div class="color-wash">&NonBreakingSpace;</div>
        <img class="hero-image" src="https://images.unsplash.com/photo-1521791136064-7986c2920216" />

        <div class="call-to-action">
            <p> We strive to make transferring your vehicle as simple and easy as possible. Register Today!<button routerLink="/list">Register</button>
            </p>
        </div>
    </article>
    <div class="grid-container">
        <div class="grid-item-1">
            <h3>What is a transfer?</h3>
            <p>A vehicle that has a current lease or loan can be transferred to another individual through a transfer process. The Transfer process is conducted by the lending institution that holds the lease or loan. Once a transfer completes the original
                owner is released from liability from the loan or lease. Contact your lender to begin the process. EasyXfer will allow you to post your vehicle for the world to see. </p>
        </div>
        <div class="grid-item-2">
            <h3>Why transfer a vehicle?</h3>
            <p>Life is ever changing. Unexpected events such as Divorce, Job Loss, Death or Business Closures can cause massive disruptions without notice. A promotion that comes with a company car, marriage or having a child take over a vehicle from a parent
                are all examples where transferring a vehicle would be of great benefit.</p>
        </div>
    </div>
</main>