<main>
    <h2>Welcome to EasyXfer!</h2>
    <article>
        <p> We strive to make transferring your vehicle as simple and easy as possible. If you are looking for a vehicle, please click <span><a href="vehicles">here</a></span>.
            <br> If you are interested in listing your vehicle please click
            <span><a href="listings">here</a></span>.
    </article>
    <div class="grid-container">
        <div class="grid-item-1">
            <h3>What is a transfer?</h3>
            <p>A vehicle that has a current lease or loan can be transferred to another individual through a transfer process. The Transfer process is conducted by the lending institution that holds the lease or loan. Once a transfer completes the original
                owner is released from liablity from the loan or lease. </p>
        </div>
        <div class="grid-item-2">
            <h3>Why transfer a vehicle?</h3>
            <p>Life is ever changing. Unexpected events such as Divorce, Job Loss, Death or Business Closures can cause massive disruptions without notice. A promotion that comes with a company car, marriage or having a child take over a vehicle from a parent
                are all examples where transferring a vehicle would be of great benefit.</p>
        </div>
    </div>
</main>