.hero-image {
    background-color: hsla(222, 86%, 38%, 0.77);
    z-index: 1
}

.color-wash {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsla(221, 52%, 30%, 0.3);
    z-index: 10;
}

button:hover {
    background-color: #328de988;
    ;
    transition: all .15s ease;
}

button {
    margin-top: 8px;
    padding: 12px 24px;
    background-color: #256fb8;
    color: white;
    border: none;
    border-radius: 6px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin-left: 15px;
}

button:focus {
    background-color: #328de988;
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.95);
}

.hero .hero-image {
    max-width: 100%;
    filter: contrast(50%);
    z-index: 1;
}

.hero {
    position: relative;
    background-color: white;
}

.call-to-action {
    width: 66%;
    font-size: 24px;
    color: white;
}

@media (max-width:800px) {
    .call-to-action {
        width: 100%;
        font-size: 12px;
    }
}

.hero .call-to-action {
    position: absolute;
    bottom: 10%;
    z-index: 10;
    font-weight: 700;
}

.call-to-action p {
    display: block;
    width: 100%;
    text-align: center;
}

@media (max-width: 800px) {
    button {
        margin-top: 8px;
        padding: 10px 10px;
        background-color: #256fb8;
        color: white;
        border: none;
        border-radius: 6px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        font-size: 12px;
    }
}